@import "tailwindcss";

@theme {
  --color-primary: #005422;
  --color-secondary: #CCFFE0;
  --color-text: #1A1A1A;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  section[id] {
    scroll-margin-top: 100px;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
